---
log_level: 'DEBUG'

telegram:
  bot_token: '00000000000:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
  channel_id: '-10000000000000'
  proxy_enabled: True
  proxy_host: 'socks5://SOCKS5_IP_ADDR:1881'
  proxy_login: 'SOCKS_LOGIN'
  proxy_pass: 'SOCKS_PASSWD'

smpp_goip:
  host: 'GOIP_IP_ADDR'
  port: 7777
  system_id: 'GOIP_SYSTEM_ID'
  password: 'GOIP_SMPP_PASS'
  sim_num: 'GOIP_SIM_NUM'

