---
log_level: 'DEBUG'

  bot_token: ''6132293566:AAGU6fPNiOjbjR0Dp9gcaXwnxxc1N7PN46E
  channel_id: '5858638923
  proxy_enabled: True
  proxy_host: 'socks5://SOCKS5_IP_ADDR:1881'
  proxy_login: 'SOCKS_LOGIN'
  proxy_pass: 'SOCKS_PASSWD'

smpp_goip:
  host: 'GOIP_IP_ADDR'
  port: 7777
  system_id: 'GOIP_SYSTEM_ID'
  password: 'GOIP_SMPP_PASS'
  sim_num: 'GOIP_SIM_NUM'

